{% for host, backends in hosts.items() %}
upstream {{ host }} {
    {% for backend, network in backends.items() %}
    # Backend {{ backend }}
    {% for port in network['PORTS'] %}
    server {{ network['IP'] }}:{{ port }};
    {% endfor %}
    {% endfor %}
}

server {
    server_name {{ host }};
    proxy_buffering off;
    error_log /proc/self/fd/2;
    access_log /proc/self/fd/1;

    location / {
        proxy_pass http://{{ host }};
        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;

        # HTTP 1.1 support
        proxy_http_version 1.1;
        proxy_set_header Connection "";
    }
}
{% endfor %}
